@import 'tailwindcss';

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf');
}

*{
    font-family: 'Inter';
}

h1, h2, h3, h4, h5{
    font-family: 'SpaceGrotesk';
    color: white;
    font-weight: bold;
}

button{
    background-color: #0EA5E9;    
    transition: all 0.2s ease-in-out;
}

button:hover{
    background-color: #22D3EE;
    cursor: pointer;
}

body{
    background-color: #0F172A;
}